* {
    /* box-sizing: content-box; */
}

body {
    background-color: #d5e0ef;
    /* box-sizing: border-box; */
}

.card {
    padding: 5px 15px 20px;
    padding-top: 15px;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: #ffffff;
    width: 20%;
    height: 500px;
    margin: auto;
    text-align: center;
    /* justify-content: center; */
}

.card p {
    /* padding-bottom: 5px; */
    color: grey;
    text-align: center;
    align-items: center;
}

.card img {
    border-radius: 5%;
    width: 100%;
}

h4 {
    font-size: larger;
}